  <nz-collapse>
    <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active"
      [nzDisabled]="panel.disabled">
      <h2>Package</h2>
      
      <form nz-form (ngSubmit)="submitForm()">
        <nz-form-item>
          <h6>Package name</h6> <br>
          <input nz-input />
        </nz-form-item>

        <nz-form-item>
          <nz-select nzPlaceHolder="Select Operator" [(ngModel)]="selectedValue">
            <nz-option nzValue="Airtel" nzLabel="Airtel"></nz-option>
            <nz-option nzValue="Jio" nzLabel="Jio"></nz-option>
            <nz-option nzValue="Vodafone" nzLabel="Vodafone"></nz-option>
          </nz-select>

          <nz-form-item>
            <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
              <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
                <span nz-icon nzType="plus"></span>
                Add field
              </button>
            </nz-form-control>
          </nz-form-item>
          
          <div *ngIf="!selectedValue">
            <nz-form-item *ngFor="let control of listOfControl; let i = index">
      
              <nz-form-control
                [nzXs]="24"
                [nzSm]="20"
                [nzOffset]="i === 0 ? 0 : 4"
              >
                <div 
                nz-row [attr.id]="control.id"
                [formControlName]="control.controlInstance"
                nz-row [nzGutter]="95"
                >
                  <div nz-col class="gutter-row" nzSpan="2">Min</div>
                  <div nz-col class="gutter-row" nzSpan="2">Max</div>
                  <div nz-col class="gutter-row" nzSpan="2">SD</div>
                  <div nz-col class="gutter-row" nzSpan="2">MD</div>
                  <div nz-col class="gutter-row" nzSpan="2">DIST</div>
                  <div nz-col class="gutter-row" nzSpan="2">RET</div>
                  <div nz-col class="gutter-row" nzSpan="2">A</div>
                  <div nz-col class="gutter-row" nzSpan="2">M</div>
                  <div nz-col class="gutter-row" nzSpan="4">TDS</div>
                  <div nz-col class="gutter-row" nzSpan="4">GST</div>
                </div>  
  
              </nz-form-control>
            </nz-form-item>
          </div>
        </nz-form-item>
          
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary">Save and submit</button>
          </nz-form-control>
        </nz-form-item>
      </form>

    </nz-collapse-panel>
  </nz-collapse>
  
